.navbar{
    display: flex; 
    justify-content: space-evenly;
    background-color: rgb(223, 104, 61);
}

body{
    background-color: cadetblue;
    margin: 2%;
}
h1 {
    width: 100%;
    text-align: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

h1 + p {
    width: 100%;
}

.news {
    width: 33%;
    text-align: center;

}
